@import "tailwindcss";

@theme {
  --font-titulo: var(--font-poppins);
  --font-descricao: var(--font-inter);
  --font-button: var(--font-poppins);

  --color-bg-azul: #192648;
  --color-bg-creme: #eee1c6;
  --color-bg-gradiente: radial-gradient(180deg, #b17a19 0%, #fffede 100%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-out both;
}